.search-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__result {
    display: flex;
    flex-direction: column;
  }

  &__items {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 900px;
  }

  &__search-input {
    width: 40vw;
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-shrink: 0;
    width: 100%;
  }

  &__item {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  &__empty-result {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(103, 58, 183, 0.64);
    font-size: 2em;
    box-sizing: border-box;
    padding-bottom: 30px;
    text-align: center;
  }


  ::ng-deep .mat-paginator-container {
    justify-content: center;
  }
}


@media only screen and (max-width: 800px) {
  .search-page {
    &__search-input {
      width: 100%;
    }
  }
}

