<div class="search-page">
  <div class="search-page__header">
    <app-search-input class="search-page__search-input"
                      [search]="movieName"
                      (searchChange)="search($event)">
    </app-search-input>
  </div>
  <div *ngIf="movies && movies.length > 0" class="search-page__result">
    <div class="search-page__items">
      <app-movie-card *ngFor="let movie of movies"
                      class="search-page__item"
                      [movie]="movie">
      </app-movie-card>
    </div>

    <mat-paginator (page)="onPageChanged($event)"
                   [pageIndex]="currentPage"
                   [length]="totalResults"
                   [pageSize]="PAGE_SIZE">
    </mat-paginator>
  </div>
  <div *ngIf="noMovies" class="search-page__empty-result">
    <div *ngIf="!movies">Start searching right now</div>
    <div *ngIf="movies">There isn't any movies or TV serials which start with "{{ movieName }}"</div>
  </div>
</div>
