.app {
  @headerHeight: 60px;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";
  grid-template-rows: @headerHeight 1fr;
  background-color: #225eb508;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    height: @headerHeight;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    grid-area: header;
    z-index: 100;
  }

  &__header-icon {
    margin-right: 4px;
    font-size: 1em;
  }

  &__header-link {
    position: relative;
    flex: 1;
    text-decoration: inherit;
    color: rgba(103, 58, 183);
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.5em;

    &--selected {
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        opacity: 0.94;
        background-image: linear-gradient(268deg, #408eff, #1574ff);
      }
    }
  }

  &__body {
    grid-area: main;
    box-sizing: border-box;
    margin: 0 20vw 0;
    padding-top: 20px;
    background-color: white;
  }

  &__loading {
    #loading-bar {
      z-index: 1000 !important;
    }

    .peg {
      display: none !important;
    }

    .bar {
      background-image: linear-gradient(to right, #237cff, #7baffa) !important;
      height: 4px !important;
    }
  }
}

@media only screen and (max-width: 800px) {
  .app {
    &__body {
      margin: 0 5vw;
    }
  }
}
