<ngx-loading-bar class="app__loading"
                 [height]="'4px'"
                 [includeSpinner]="false">
</ngx-loading-bar>

<div class="app">
  <header class="app__header">
    <a [routerLink]="['/search']"
       [routerLinkActive]="'app__header-link--selected'"
       class="app__header-link"
       mat-ripple>
      Search movies
    </a>

    <a [routerLink]="['/favorites']"
       [routerLinkActive]="'app__header-link--selected'"
       class="app__header-link"
       mat-ripple>
        <mat-icon class="app__header-icon">favorite</mat-icon>
        <span>
          Favorites <span *ngIf="favoritesCount > 0">({{ favoritesCount }})</span>
        </span>
    </a>
  </header>
  <div class="app__body">
    <router-outlet></router-outlet>
  </div>
</div>
