<div class="favorites-page">
  <div class="favorites-page__result" *ngIf="movies.length > 0">
    <app-movie-card class="favorites-page__item"
                    *ngFor="let movie of movies"
                    [movie]="movie">
    </app-movie-card>
  </div>
  <div class="favorites-page__empty" *ngIf="movies.length === 0">
    <div>
      There is empty... <a [routerLink]="['/search']" [queryParams]="{name: 'batman'}">Maybe you can find it here...? </a>
    </div>
  </div>
</div>
