.favorites-page {
  padding: 0 20px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;

  &__result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 900px;
  }

  &__item {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  &__empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: rgba(103, 58, 183, 0.64);
  }
}
