<div class="movie-page" *ngIf="loaded">
  <div class="movie-page__result" *ngIf="details">
    <header class="movie-page__title">{{ details.Title }}</header>
    <div class="movie-page__main-content">
      <app-movie-card class="movie-page__card" [movie]="details" [hideTitle]="true"></app-movie-card>
      <div class="movie-page__details">
        <div class="movie-page__details-row">
          <div class="movie-page__details-title">Year:</div>
          <div class="movie-page__details-value">{{ details.Year }}</div>
        </div>

        <div class="movie-page__details-row">
          <div class="movie-page__details-title">Genre:</div>
          <div class="movie-page__details-value">{{ details.Genre }}</div>
        </div>

        <div class="movie-page__details-row">
          <div class="movie-page__details-title">Actors:</div>
          <div class="movie-page__details-value">{{ details.Actors }}</div>
        </div>

        <div class="movie-page__details-row">
          <div class="movie-page__details-title">Plot:</div>
          <div class="movie-page__details-value">{{ details.Plot }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-page__empty" *ngIf="!details">
    Something is going wrong with the movie, it hasn't been found...
  </div>
</div>
