.movie-page {
  height: 100%;
  padding: 0 20px;

  &__title {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 30px;
  }

  &__main-content {
    display: flex;
  }

  &__card {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    box-shadow: 49px -3px 0px -48px #e3e3e3;
    padding-right: 10px;
  }

  &__details {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }

  &__details-row {
    display: flex;
    min-height: 40px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  &__details-title {
    margin-right: 8px;
    font-weight: bold;
  }

  &__empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(103, 58, 183, 0.64);
    font-size: 2em;
    box-sizing: border-box;
    padding-bottom: 30px;
    text-align: center;
  }
}
