<a class="movie-card"
   mat-ripple
   [routerLink]="['/movie/' + movie.imdbID]"
   [title]="movie.Title">

  <div class="movie-card__favorite-btn"
       mat-ripple
       (mousedown)="onFavoriteMouseDown($event)"
       (click)="onFavoriteClicked($event)">
    <mat-icon *ngIf="isFavorite">favorite</mat-icon>
    <mat-icon *ngIf="!isFavorite">favorite_border</mat-icon>
  </div>
  <div class="movie-card__poster">
    <img *ngIf="hasPoster"
         class="movie-card__img"
         [src]="movie.Poster">

    <div *ngIf="!hasPoster"
         class="movie-card__no-img">
      No image
    </div>
  </div>
  <div *ngIf="!hideTitle" class="movie-card__title">{{ movie.Title }}</div>
</a>
