.movie-card {
  cursor: pointer;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  position: relative;
  color: inherit;
  text-decoration: inherit;

  &__favorite-btn {
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 232, 255, 0.85);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
  }

  &__poster {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }

  &__no-img {
    background-color: #e0eaea;
    color: rgba(35, 124, 255, 0.25);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    color: black;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
  }
}
