<mat-form-field class="search-input">
  <input #input
         class="search-input__input"
         matInput
         placeholder="Name of movie/TV serial"
         (keyup.enter)="onEnter()"
         [matAutocomplete]="auto"
         [formControl]="searchCtrl">

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngIf="notEnoughSymbols" [disabled]="true">Add more than {{ minSymbols }} symbols</mat-option>
    <mat-option *ngIf="isNothingFound" [disabled]="true">Nothing found</mat-option>
    <mat-option *ngFor="let movie of movies" [routerLink]="['/movie/' + movie.imdbID]">{{ movie.Title }}</mat-option>
  </mat-autocomplete>
</mat-form-field>
